<section id="section--admin" class="overflow-hidden">
  <div class="container-fluid">

    <div class="display-5 text-gray-900 lh-base fw-bold text-center mb-2">Панель администратора</div>
    <div class="h5 mb-3 mb-lg-8 text-center text-gray-500">Наша интуитивно понятная панель администратора специально разработана для менеджеров, управляющих мерчантами и настройками приема платежей</div>
    
    <div class="row gap-4 gap-lg-0">

      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
        <div class="ps-lg-2">
          <div class="d-grid gap-2">
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Управление и настройка мерчантов.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Доступ к подробным отчетам о транзакциях, объеме продаж и другим ключевым метрикам вашего бизнеса.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Гибкая настройка платежных методов (терминалов). Маршрутизация терминалов.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Настройка антифрод правил.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Мониторинг транзакций.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Добавление новых пользователей и настройка их права доступа.</div>
          </div>
          <a href="https://demo.xoney.com/admin" class="btn btn-lg btn-gray-800 mt-3">
            <i class="bi bi-arrow-right-square"></i>
            <span>ВХОД</span>
          </a>
        </div>
      </div>

      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="swiper swiper--admin">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/admin-1.png" />
            </div>
             <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/admin-2.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/admin-3.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/admin-4.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/admin-5.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/admin-6.png" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </div>
    
  </div>
</section>