<section id="section--api" class="overflow-hidden">
  <div class="container-fluid">

    <div class="display-5 text-gray-900 lh-base fw-bold text-center mb-2">Техническая документация для мерчанта</div>
    <div class="h5 mb-3 mb-lg-8 text-center text-gray-500">Наша документация предоставляет исчерпывающее описание API, необходимое для приема платежей с банковских карт</div>
    
    <div class="row gap-4 gap-lg-0">

      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="swiper swiper--api">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/api-1.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/api-2.png" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
        <div class="ps-lg-2">
          <div class="d-grid gap-2">
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Прием платежей через ссылку на оплату (ввод карточных данных на нашей стороне).</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Прием платежей с вводом карточных данных на нашей мерчанта (от мерчанта требуется наличие PCI DSS).</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Холдирование средств. Подтверждение и отмена холдов.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Рекуррентные платежи.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Возможность токенизации карты без списания средств.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Создание возвратов.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Регистрация ОФД чеков.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Выгрузка платежей и возвратов.</div>
          </div>
          <a href="https://demo.xoney.com/docs/ru/api" class="btn btn-lg btn-gray-800 mt-3">
            <i class="bi bi-arrow-right-square"></i>
            <span>ПЕРЕЙТИ</span>
          </a>
        </div>
      </div>

    </div>
    
  </div>
</section>