<section id="section--control-panel" class="overflow-hidden">
  <div class="container-fluid">

    <div class="display-5 text-gray-900 lh-base fw-bold text-center mb-2">Личный кабинет мерчанта</div>
    <div class="h5 mb-3 mb-lg-8 text-center text-gray-500">Наш личный кабинет мерчанта обладает широким спектром функций для эффективного управления бизнесом</div>
    
    <div class="row gap-4 gap-lg-0">

      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="swiper swiper--control-panel">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-1.png" />
            </div>
             <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-2.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-3.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-4.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-5.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-6.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-7.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/control-panel-8.png" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
        <div class="ps-lg-2">
          <div class="d-grid gap-2">
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Просмотр и выгрузка платежей.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Настройка платежного виджета с помощью конструктора.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Ручное выставление счетов клиентам.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Просмотр подробной статистики и конверсии по платежам.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Подключение онлайн-кассы для автоматической регистрации и отправки ОФД чеков.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Создание возвратов по платежам.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Подтверждение или отмена ходов.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Добавление новых пользователей и настройка их права доступа в соответствии с их ролями в компании.</div>
          </div>
          <a href="https://demo.xoney.com/cpl" class="btn btn-lg btn-gray-800 mt-3">
            <i class="bi bi-arrow-right-square"></i>
            <span>ВХОД</span>
          </a>
        </div>
      </div>

    </div>
    
  </div>
</section>