

<div style="display: flex; justify-content: center; padding: 24px; background-color: #eee">

  <div style="max-width: 600px; margin-right: 48px;">
    <h2 style="text-align: center;">Платежный виджет</h2>
    <div>Наш виджет предлагает простое и быстрое подключение к сайту мерчанта без необходимости особых технических усилий или специальных знаний. Это позволяет мерчантам быстро начать принимать платежи и увеличивать свою прибыль.</div>
    <ul>
      <li>С помощью интуитивного конструктора виджета в личном кабинете мерчанты легко могут настроить внешний вид и функциональность виджета в соответствии со своими потребностями и брендовым стилем.</li>
      <li>Приема платежей прямо на сайте мерчанта, без необходимости перенаправления плательщика на платежную страницу, повышает уровень доверия клиентов и увеличивает конверсию.</li>
      <li>Виджет освобождает клиентов от необходимости соблюдения стандартов PCI DSS, что экономит ресурсы клиента и снижает затраты на безопасность платежных данных.</li>
    </ul>
    <button id="payment-widget-demo-btn">DEMO</button>
  </div>

  <div style="width: 400px;">
    <div class="swiper swiper--payment-widget">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-1.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-2.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-3.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-4.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-5.png" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</div>