
{{!-- 
<div style="display: flex; justify-content: center; padding: 24px; background-color: #eee">

  <div style="max-width: 600px; margin-right: 48px;">
    <div style="text-align: center;">Платежный виджет</div>
    <div>Наш виджет предлагает простое и быстрое подключение к сайту мерчанта без необходимости особых технических усилий или специальных знаний. Это позволяет мерчантам быстро начать принимать платежи и увеличивать свою прибыль.</div>
    <ul>
      <li>С помощью интуитивного конструктора виджета в личном кабинете мерчанты легко могут настроить внешний вид и функциональность виджета в соответствии со своими потребностями и брендовым стилем.</li>
      <li>Приема платежей прямо на сайте мерчанта, без необходимости перенаправления плательщика на платежную страницу, повышает уровень доверия клиентов и увеличивает конверсию.</li>
      <li>Виджет освобождает клиентов от необходимости соблюдения стандартов PCI DSS, что экономит ресурсы клиента и снижает затраты на безопасность платежных данных.</li>
    </ul>
    <button id="payment-widget-demo-btn">DEMO</button>
  </div>

  <div style="width: 400px;">
    <div class="swiper swiper--payment-widget">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-1.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-2.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-3.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-4.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-widget-5.png" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</div> --}}

<section class="overflow-hidden">
  <div class="container-fluid">

    <div class="display-5 text-gray-900 lh-base fw-bold text-center mb-2">Платежный виджет</div>
    <div class="h5 mb-2 mb-lg-8 text-center text-gray-500">Наш виджет предлагает простое и быстрое подключение к сайту мерчанта без необходимости особых технических усилий или специальных знаний. Это позволяет мерчантам быстро начать принимать платежи и увеличивать свою прибыль.</div>
    
    <div class="row gap-4 gap-lg-0">

      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <div>
          <div class="d-grid gap-2">
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> С помощью интуитивного конструктора виджета в личном кабинете мерчанты легко могут настроить внешний вид и функциональность виджета в соответствии со своими потребностями и брендовым стилем.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Приема платежей прямо на сайте мерчанта, без необходимости перенаправления плательщика на платежную страницу, повышает уровень доверия клиентов и увеличивает конверсию.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Виджет освобождает клиентов от необходимости соблюдения стандартов PCI DSS, что экономит ресурсы клиента и снижает затраты на безопасность платежных данных.</div>
          </div>
          <button id="payment-widget-demo-btn" class="btn btn-lg btn-brand mt-3">
            <i class="bi bi-rocket-takeoff"></i>
            <span>ДЕМО-ОПЛАТА</span>
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="swiper swiper--payment-widget">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-widget-1.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-widget-2.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-widget-3.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-widget-4.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-widget-5.png" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </div>
    
  </div>
</section>