

<div style="display: flex; justify-content: center; padding: 24px;">

  <div style="width: 400px;">
    <div class="swiper swiper--payment-form">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-form-1.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-form-2.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-form-3.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-form-4.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-form-5.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: 100%; border-radius: 8px" src="../images/payment-form-6.png" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div style="max-width: 600px; margin-left: 48px;">
    <h2 style="text-align: center;">Платежная форма</h2>
    <div>Наша платежная форма разработана с учетом современных технологий и потребностей клиентов, адаптируется под все устройства и обеспечивает надежную и удобную оплату.</div>
    <ul>
      <li>Мы предлагаем широкий спектр способов оплаты, включая карты, СБП, МИР Pay, Google Pay, Apple Pay и другие популярные платежные системы, обеспечивая удобство и выбор для ваших клиентов.</li>
      <li>Платежная форма обеспечивает оптимальное отображение на любом устройстве благодаря адаптивному дизайну, что увеличивает вероятность успешного завершения платежа.</li>
      <li>Клиенты могут безопасно сохранить свою карту для быстрого и удобного повторного оформления заказов, сокращая время на оплату и повышая конверсию.</li>
      <li>Мерчантам предоставляется возможность брендирования формы в цвета своего бренда.</li>
      <li>Платежная форма легко локализуется на разные языки, обеспечивая комфортное взаимодействие с клиентами из разных стран.</li>
      <li>Каждый плательщик получает квитанцию на указанный им адрес электронной почты после успешной оплаты, что обеспечивает прозрачность и подтверждение совершенной операции.</li>
    </ul>
    <button id="payment-form-demo-btn">DEMO</button>
  </div>

</div>