<section class="overflow-hidden">
  <div class="container-fluid">

    <div class="display-5 text-gray-900 lh-base fw-bold text-center mb-2">Платежная форма</div>
    <div class="h5 mb-2 mb-lg-8 text-center text-gray-500">Наша платежная форма разработана с учетом современных технологий и потребностей клиентов, адаптируется под все устройства и обеспечивает надежную и удобную оплату.</div>
    
    <div class="row gap-4 gap-lg-0">

      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="swiper swiper--payment-form">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-form-1.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-form-2.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-form-3.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-form-4.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-form-5.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-5" src="../images/payment-form-6.png" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <div>
          <div class="d-grid gap-2">
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Мы предлагаем широкий спектр способов оплаты, включая карты, СБП, МИР Pay, Google Pay, Apple Pay и другие популярные платежные системы, обеспечивая удобство и выбор для ваших клиентов.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Платежная форма обеспечивает оптимальное отображение на любом устройстве благодаря адаптивному дизайну, что увеличивает вероятность успешного завершения платежа.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Клиенты могут безопасно сохранить свою карту для быстрого и удобного повторного оформления заказов, сокращая время на оплату и повышая конверсию.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Мерчантам предоставляется возможность брендирования формы в цвета своего бренда.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Платежная форма легко локализуется на разные языки, обеспечивая комфортное взаимодействие с клиентами из разных стран.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Каждый плательщик получает квитанцию на указанный им адрес электронной почты после успешной оплаты, что обеспечивает прозрачность и подтверждение совершенной операции.</div>
          </div>
          <button id="payment-form-demo-btn" class="btn btn-lg btn-brand mt-3">
            <i class="bi bi-rocket-takeoff"></i>
            <span>ДЕМО-ОПЛАТА</span>
          </button>
        </div>
      </div>

    </div>
    
  </div>
</section>