<div class="buy-form p-5 rounded-4">
  <div class="fw-bolder h1 text-uppercase">
    Nike Pegasus Trail 4 GORE-TEX By You
  </div>
  <div class="h4 mb-4">
    Custom Running Shoes
  </div>
  <div class="h3 mb-4 fw-bold">
    $190
  </div>
  <div class="mb-4 d-none d-lg-block">
    Lace up and add your touch to the sneaker revolution. Choose between classic leather or add a little summertime flair with canvas. Give it a makeover with your fave colors.
  </div>
  <div class="mb-4 d-none d-lg-block">
    <div class="fs-5 fw-bold mb-2 text-uppercase">
      Colors
    </div>
    <div class="d-flex gap-2">
      <div class="color" style="background-color: #390099;"></div>
      <div class="color" style="background-color: #38a3a5;"></div>
      <div class="color" style="background-color: #ff595e;"></div>
      <div class="color" style="background-color: #fffcf2;"></div>
    </div>
  </div>
  <button id="btn-shop-now-3" class="btn-lg btn btn-dark text-uppercase fw-bold">
    Shop Now
  </button>
</div>