<section id="section--telegram" class="overflow-hidden">
  <div class="container-fluid">

    <div class="display-5 text-gray-900 lh-base fw-bold text-center mb-2">Интеграция с Telegram</div>
    <div class="h5 mb-3 mb-lg-8 text-center text-gray-500">Наша интеграция с Telegram позволяет принимать платежи с банковских карт не покидая мессенджер</div>
    
    <div class="row gap-4 gap-lg-0">

      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="swiper swiper--telegram">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/telegram-1.png" />
            </div>
             <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/telegram-2.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/telegram-3.png" />
            </div>
            <div class="swiper-slide">
              <img class="w-100 rounded-1" src="../images/telegram-4.png" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <div class="ps-lg-2">
          <div class="d-grid gap-2">
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Прием платежей с банковских карт.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Поддержка Apple Pay и Google Pay.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Клиенты могут безопасно сохранить свою карту для быстрого и удобного повторного оформления заказов, сокращая время на оплату и повышая конверсию.</div>
            <div><i class="bi bi-check-circle-fill me-1 text-brand"></i> Счета можно отправлять в общие чаты (донат, сбор средств и т.д.) или конкретному покупателю в чат (счёт на оплату заказа).</div>
          </div>
          <a href="https://t.me/PayMasterDemoBot" class="btn btn-lg btn-gray-800 mt-3">
            <i class="bi bi-rocket-takeoff"></i>
            <span>ДЕМО-МАГАЗИН</span>
          </a>
        </div>
      </div>

    </div>
    
  </div>
</section>