<html lang="{{lang}}">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="https://demo.xoney.com/cpay/sdk/payment-widget.js"></script>
  </head>

  <body>

    <div class="header">
      <img class="header-cover" src="./images/header-layered-waves.svg" />
      <div class="header-title">PayMaster</div>
      <div class="header-description">Мощный и безопасный инструмент, который позволяет вашему бизнесу удобно и эффективно принимать платежи</div>
    </div>
    
    {{> partials/payment-form}}
    {{> partials/payment-widget}}
    {{> partials/control-panel}}

    <div class="footer">
      <img class="footer-cover" src="./images/footer-layered-waves.svg" />
    </div>

  </body>
</html>